.Form{

    top: 0px;
    right: 10px;
    height: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: large;
    width: 120%;
    background-color: rgb(187, 185, 185);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.update{

  position: absolute;
  top: 20px;
  right: 10px;
  height: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  font-size: large;
  width: 20%;
  background-color: rgb(187, 185, 185);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.update input,
.update textarea {
    margin: 10px 0;
    padding: 10px;
    width:95%;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;

}

.picbutton{
  
  
  color: black;
  margin-top: 10px;
  margin-left: 60px;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  font-weight: 900; 
  
   border: none;
  border-radius: 5px;
  cursor: pointer;
}



.Profilepic{

    padding:30px;
}

.Form input,
.Form textarea {
    margin: 10px 0;
    padding: 10px;
    width:95%;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;

}

.Profilepic{

    margin-left: 90px;
  
}

.title{
    margin-left: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.Profilecheckbox{
    display:flex;
    gap:150px;
    margin-left: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    font-size: large;
    margin-top: 30px;
    justify-content: space-between;
    label{display:block}    
    
}

.profilebutton button{
    padding: 20px 40px;
    background-color:#804ad7;; /* Deep purple background */
    color: black;
    margin-top: 10px;
    margin-left: 60px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    /* font-weight: 900; */
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.logoutbutton button{
    padding: 20px 40px;
    background-color:#804ad7;; /* Deep purple background */
    color: black;
    margin-top: 10px;
    margin-left: 60px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    /* font-weight: 900; */
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

/* Modal background (semi-transparent overlay) */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Modal content (image) */
  .modal-content {
    margin: auto;
    padding: 20px;
    background-color: white;
    width: 80%;
    max-width: 700px;
    position: relative;
  }
  
  /* Full view image in modal */
  .full-view-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Close button */
  .close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: whitesmoke;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Hover effect for close button */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
