.task-form-container {
    position: absolute;
    top: 150px;
    right: 300px;
    height: auto;
    width: 30%;
    background-color: rgb(187, 185, 185);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto; */
}

.task-form-container form {
    display: flex;
    flex-direction: column;
}

.task-form-container input,
.task-form-container textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task-form-container button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-form-container button:hover {
    background-color: #218838;
}
