



.notification-list-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification-list-container h2 {
    text-align: center;
    color: #333;
}

.notification-list-container ul {
    list-style-type: none;
    padding: 0;
}

.notification-list-container li {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.notification-list-container li:hover {
    background-color: #e9ecef;
}


.notification-list-container button {
    padding: 10px 15px;
    background-color:  #4b0082;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.notification-list-container button:hover {
    background-color: #3a0066;
}

.notification-list-container p {
    /* color: black;
    margin-top: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans'; */

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    width: 100%; /* Make it responsive */
    max-width: 500px; /* Ensure it doesn’t exceed a certain width */
    
   
    text-align: center;
    overflow-y: auto; /* Only vertical scroll if necessary */
    overflow-x: hidden; /* Prevent horizontal overflow */
    word-wrap: break-word; /* Allow long words to break onto the next line */

}
